<h1>Current figure information</h1>
<h2>Name: <%= @landmark.name %></h2>
<h3>Year Completed: <%= @landmark.year_completed %></h3>

<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <br><br>

  <h3>Update landmark information</h3>
  <p><label for="landmark[name]">New name:</label></p>
  <p><input type="text" name="landmark[name]" id="name"></p>

  <p><label for="landmark[year_completed]">New year completed:</label></p>
  <p><input type="text" name="landmark[year_completed]" id="year_completed"></p>

  <input type="submit" value="Edit Landmark">
</form>
