<h1>Create a new landmark</h1>

<form method="post" action="/landmarks">
  <p><label for="landmark_name">Landmark Name:</label></p>
  <p><input type="text" name="landmark[name]" id="landmark_name"></p>

  <p><label for="landmark_year_completed">Year Completed:</label></p>
  <p><input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>

  <input type="submit" value="Create New Landmark">
</form>
